[%
  argv.role = 'lb';
  argv.type = 'sip_ext';
  PROCESS '/usr/lib/ngcp-ngcpcfg/get_all_shared_ips';
  sip_ext_ips = out;
  IF !sip_ext_ips.size;
    argv.role = 'lb';
    argv.type = 'sip_ext';
    PROCESS '/usr/lib/ngcp-ngcpcfg/get_all_ips';
    sip_ext_ips = out;
  END;

  argv.role = 'lb';
  argv.type = 'sip_int';
  PROCESS '/usr/lib/ngcp-ngcpcfg/get_all_shared_ips';
  sip_lb_ips = out;
  IF !sip_lb_ips.size;
    argv.role = 'lb';
    argv.type = 'sip_int';
    PROCESS '/usr/lib/ngcp-ngcpcfg/get_all_ips';
    sip_lb_ips = out;
  END;

  argv.role = 'lb';
  argv.type = 'sip_ext';
  PROCESS '/usr/lib/ngcp-ngcpcfg/get_all_adv_ips';
  sip_adv_ips = out;
-%]
# IMPORTANT:
# Uncomment the whole set of fields per registration.
# Specify "domain", "user" and "pwd". The "proxy" and "contact" fields will be
# taken from the network.yml.
#
# Note that the "contact" parameter is specific to the Sipwise SPCE and does
# not yet exist in the official sems.

domain=PBX-IP-ADDR
user=PBX-USER
pwd=PBX-PW
proxy=sip:[% sip_lb_ips.0 %]:[% kamailio.lb.port %]
[% IF sip_adv_ips.size -%]
contact=sip:[% sip_adv_ips.0 %]:[% kamailio.lb.port %]
[% ELSE -%]
contact=sip:[% sip_ext_ips.0 %]:[% kamailio.lb.port %]
[% END -%]

#domain2=<your peer realm>
#user2=<your peer user>
#pwd2=<your peer password>
#proxy2=sip:[% sip_lb_ips.0 %]:[% kamailio.lb.port %]
[% IF sip_adv_ips.size -%]
#contact2=sip:[% sip_adv_ips.0 %]:[% kamailio.lb.port %]
[% ELSE -%]
#contact2=sip:[% sip_ext_ips.0 %]:[% kamailio.lb.port %]
[% END %]

# Up to 50 registrations are possible.
